.entitree--tree-display{
  width: 100%;
  position: relative;

}

.entitree-tree-header{
  margin-bottom: 40px;
}

.entitree--tree-display--row{
  display: flex;
  margin-bottom: 15px;
  flex-direction: row;
  flex-wrap: wrap;
}

.entitree--tree-path{
  border: 1px solid #ccc;
  padding: 10px 10px 2px;

}

.entitree--tree-display--column.entitree--column--narrow{
  background: #efefef;
  border-right: 1px solid #aaa;
}

.entitree--tree-display--column.entitree--column--wide{
  padding-top: 0;
}

.entitree--tree-display--column.entitree--column--wide h2{
  margin-top: 0;
}

.entitree--tree-display .location{
  border: 1px solid #ccc;
  padding: 4px 8px;
  margin-bottom: 8px;
  background: #dedede;
  margin-right: 15px;
  min-width: 74px;
  text-align: right;
}

.entitree-location-operations{
  display:inline-block;
  margin-left: 5px;
  position: relative;
}

.entitree-location-operations-icon:before{
    content: '\25BC';
    cursor: pointer;
}

.entitree-location-operations-inner{
  display:none;
}

.expanded-operations .entitree-location-operations-inner{
  display: block;
  position: absolute;
  right: -9px;
  z-index: 999;
  background: #ccc;
  border: 1px solid #ccc;
  border-top-width: 0;
  top: calc(100% + 4px);
}

.entitree--operation-button{
  padding: 6px;
  display: block;
  line-height: 1em;
  text-align: left;
}

.entitree-locations-current .parent-path{
  color: #999;
}
