<div class="help">Manage the permissions for the path {{ location.getPath() }}</div>

<section class="entitree_permissions_types">
  {% for id, type in accessLists %}
    <div class="entitree_permissions_type" data-type="{{id}}">
      <fieldset>
        <legend>{{type.label}}</legend>
        <div class="entitree-permissions-type-add">
          <a href="{{ path(type.addRoute, {'location': location.id.value, 'permissionType': 'role'}) }}" title="Grant new access">Grant new access</a>
        </div>
        {% if type.access|length == 0 %}
          <p class="empty-access-list">No access has been granted</p>
        {% else %}
          {{ type.accessList }}
        {% endif %}
      </fieldset>
    </div>
  {% endfor %}
</section>

{{table}}
