<table>
  <thead>
    <th>Value</th>
    <th>Access Type</th>
    <th>Operation</th>
    <th>Apply to Descendants</th>
    <th></th>
  </thead>
  <tbody>
    {% for access in accessList %}
      <tr>
        <td>{{access.value}}</td>
        <td>{{access.access_type}}</td>
        <td>{{access.operation}}</td>
        <td>{% if access.apply_to_descendants == 1 %}&#x2714{% elseif access.apply_to_descendants != 0 %}{{ access.apply_to_descendants }}{% endif %}</td>
        <td>Edit</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
