<section class="entitree-locations-current">
    <h2>Current Locations</h2>
    <table>
        <thead>
            <tr>
                <th>Label</th>
                <th>Parent</th>
                <th>Path</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
                <tr class='entitree-locations-location {% if location.main_location.value %}main-location{% endif %}'>
                    <td>{{ location.label.value }}</td>
                    <td>
                      {% for ancestor in location.ancestors %}
                        {{ ancestor.label.value }}
                        {% if loop.last == false %}
                            >
                        {% endif %}
                      {% endfor %}
                    </td>
                    <td><span class='parent-path'>{{ location.parent.getPath() }}{% if location.parent.getPath != '/' %}/{% endif %}</span>{{ location.path_segment.value }}</td>
                    <td class='location'>
                        {{ entitree_location_operations(location) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
