<div class="entitree--tree-display">
    <div class="entitree-tree-header">
        <div class="entitree-page-help">{{ pageHelp }}</div>
    </div>

    <section class="entitree--tree-display--row entitree--tree-path">
        {% for location in ancestors %}
            {% set browseParameters = destination.browse.parameters|merge({"parent":location.id.value}) %}
            <div class="location location-ancestor {% if location.main_location.value %}main-location{% endif %}">
                <a href="{{ path(destination.browse.route, browseParameters) }}" title="{{location.getPath()}}">{{ location.label.value }}</a>
                {{ entitree_location_operations(location, destination) }}
            </div>
        {% endfor %}

        <div class="location location-ancestor location-parent {% if parent.main_location.value %}main-location{% endif %}">
            <span title="{{parent.getPath()}}">{{ parent.label.value }}</span>
            {{ entitree_location_operations(parent, destination) }}
        </div>
    </section>
    <h2 class="entitree--subhead">Children</h2>
    <section class="entitree--tree-display--row entitree--tree-children">
        {% for location in children %}
            {% set browseParameters = destination.browse.parameters|merge({"parent":location.id.value}) %}

            <div class="location location-child {% if location.main_location.value %}main-location{% endif %}">
                {# Don't allow user to browse into the location currently being edited because they can't select a parent that's currently a descendant of the location being edited #}
                {% if activeLocation and activeLocation.id.value == location.id.value %}
                  {{ location.label.value }}
                {% else %}
                  <a href="{{ path(destination.browse.route, browseParameters) }}" title="{{location.getPath()}}">{{ location.label.value }}</a>
                {% endif %}
                {{ entitree_location_operations(location, destination) }}
            </div>
        {% endfor %}
    </section>
</div>
