<div class="entitree-location-operations">
  <span class="entitree-location-operations-icon"></span>
  <div class="entitree-location-operations-inner">
    {% for operation in operations %}
      <a href="{{ operation.url }}" class="btn entitree--operation-button">{{ operation.label }}</a>
    {% endfor %}
  </div>
</div>
