{#
/**
 * @file entitree_location_ruleset.html.twig
 * Default theme implementation to present Entitree location ruleset data.
 *
 * This template is used when viewing Entitree location ruleset pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_entitree_location_ruleset()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('entitree_location_ruleset') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
